:root {
    --font-color-primary: #2c3333;
    --font-color-secondary: #395b64;
    --color-tertiary: #a5c9ca;
    --bg-color: #e7f6f2;
}

hr {
    /* border: 0; */
    /* clear: both; */
    /* display: block; */
    width: 95%;
    background-color: var(--color-tertiary);
    height: 0.5px;
}

#navBar {
    display: none;
}

.overlay {
    position: fixed;
    background-color: var(--bg-color);
    max-width: 500px;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--font-color-primary);
}

h2 {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color-primary);
}

h3 {
    font-size: 1.2em;
    color: var(--font-color-secondary);
}

.title-font {
    /* font-family: "Parisienne", serif; */
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container.content {
    background-size: auto 100%;
    background-color: hsla(164, 45.45%, 93.53%, 0.8);
    color: hsla(hue, saturation, lightness, alpha);
}

.nav-link {
    text-decoration: none;
    color: #80A1D4;
    font-weight: bold;
}

.navbar {
    position: fixed;
    max-width: 500px;
    /* align-items: center; */
    bottom: 0;
    background-color: #f8f9fa;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .nav-item .nav-link {
    color: #6c757d;
}

.navbar .nav-item .nav-link:hover {
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.main {
    /* background-color: #C0B9DD; */
    max-width: 500px;
    size: portrait;
    background-image: url("/static/images/background-2.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav-link i {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.contact-info {
    text-decoration: none;
}

.contact-info {
    margin-right: 0.2em;
}

.bi.bi-whatsapp {
    color: #5FFC7B;
}