<div class="page">
	<div class="normal-text">
		Assalamualaikum & Salam Sejahtera
	</div>
	<div class="sub-header mt-2 mb-2">
		{{ data['father'] }} <br> {{ data['mother'] }}
		<!-- Mazlan Bin Abdullah <br> & <br> Noriza Binti Ahmad -->
	</div>
	<div class="normal-text">
		Ingin Menjemput Dato’/Datin/Tuan/Puan/Encik/Cik <br> Serta Keluarga Ke Majlis Perkahwinan Puteri Kami <br>
	</div>
	<div class="sub-header mt-2 mb-2">
		Nor Syazni Binti Mazlan <br>
		& <br>
		Den Muhammad Hafiz Bin Jumaatuden
	</div>
	<div class="normal-text">
		{{ data['date'] }} | {{ data['day'] }} <br>
		{{ data['time'] }} <br>
		{{ data['firstaddress'] }} <br>
		{{ data['secondaddress'] }} <br>
	</div>

	<div class="mt-2 row align-items-center">
		<div class="col">
			<a href="#">
				<img class="map-icon" src="/static/icons/googlemap.svg" alt="googlemap">
				<span>Google Map</span>
			</a>
		</div>
		<div class="col">
			<a href="#">
				<img class="map-icon" src="/static/icons/waze.svg" alt="waze">
				<span>Waze</span>
			</a>
		</div>
	</div>

	
</div>