<div class="page">
    <h2 class="sub-header">Daftar kehadiran</h2>

    <form id="rsvpForm" style="display: flex;flex-direction: column;align-items: center;" class="mb-5" hx-post="{{ url_for('rsvp') }}">
        <label class="form-label" for="inputName">Nama</label>
        <input class="form-control" id="inputName" type="text" name="name" required minlength="3" maxlength="50">

        <label class="form-label" for="inputPhone">Nombor telefon</label>
        <input class="form-control" id="inputPhone" type="tel" name="phone" required pattern="[0-9]{10,12}">

        <label class="form-label" for="inputPax">Bilangan orang</label>
        <input class="form-control" id="inputPax" type="number" name="pax" required min="1" max="20">

        <button class="mt-2 main-btn">Submit</button>

        <div class="success-dialog">
        </div>
    </form>
</div>