<div class="container content">
    <div id="contact" class="content">
        <h2>Contact</h2>
        <ul class="list-unstyled">
            <li>
                <a class="contact-info" href="#">
                    <i class="bi bi-telephone"></i>
                </a>
                <a class="contact-info" href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <span>Hakim: 0123456789</span>
            </li>
            <li>
                <a class="contact-info" href="#">
                    <i class="bi bi-telephone"></i>
                </a>
                <a class="contact-info" href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <span>Izzati: 0123456789</span>
            </li>
        </ul>
    </div>
</div>