{% extends "base.html" %}

{% block title %}
    {{ data['groom']}} & {{ data['bride'] }}
{% endblock %}

{% block main %}

    {% include "welcome.html" %}

    <div class="container content">
        <!-- Page 1: Name and Date -->
        <div id="home" class="content">
            <h1 class="title-font">{{ data["groom"] }} <br> & <br>{{ data["bride"] }}</h1>
            <p>Date: {{ data["date"] }}</p>
        </div>
    </div>

    <hr class="hr hr-blurry">

    {% include "tentative.html" %}
    <hr class="hr hr-blurry">
    {% include "rsvp.html" %}
    <hr class="hr hr-blurry">
    {% include "contact.html" %}
    <hr class="hr hr-blurry">
    {% include "location.html" %}

{% endblock %}