<div class="container content">
    <div id="location" class="content">
        <h2>Location</h2>
        <p>Tanah Merah, Kelantan</p>

        <div style="overflow:hidden;resize:none;max-width:100%;width:400px;height:400px;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d429.48629721863915!2d102.05155891627041!3d5.7612707603672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smy!4v1737251261159!5m2!1sen!2smy"></iframe></div><a class="embed-ded-maphtml" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="enable-map-data">premium bootstrap themes</a><style>#my-map-display img{max-height:none;max-width:none!important;background:none!important;}</style></div>
    </div>
</div>