<div class="container">
    <div id="rsvp" class="content">
        <h2>RSVP</h2>
        <form action="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name">
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email</label>
                <input type="email"class="form-control" id="InputEmail">
            </div>
            <div class="mb-3">
                <label for="People" class="form-label">Number of People</label>
                <input type="number" class="form-control" id="People">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>